{% extends 'base.html' %}
{% load static %}

{% block head %}
    <!--<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector:'textarea'});</script>-->
    <script src="https://cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
    <title>Add Questions</title>
{% endblock %}

{% block upper %}Add Questions{% endblock %}


{% block dipper %}
<h3 class="card-header">Add Questions</h3>
<div class="card-body">
    <p align="left">
        <a href="{% url 'dashboard' %}"> <b><</b> Back to Dashboard</a> &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="{% url 'view_paper' the_exam.id %}">View Questions <b>></b></a>
    </p>
    <div class="card-title">
        <h4> Fill the details & Save  <span class="badge badge-info">Added Questions :- {{ the_exam.num_valid_questions }}</span></h4>
    </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="id_exam" value="{{ the_exam.id }}">
        <input type="hidden" name="exam" value="{{ the_exam.id }}">
        {% for field in form %}{% if field.name != 'exam' %}
                {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert"><strong>{{ error }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                {% endfor %}
        <div class="form-row">{{ field.label_tag }}{{ field }}</div><hr/>
        {% endif %}{% endfor %}
        <script>CKEDITOR.replace('question');</script>
        <div class="form-row" style="display:initial;">
            <label for="id_options">Feed the options for the question & click the correct answer,</label>
        <div class="card border-dark shadow-sm" style="margin-bottom:10px;">
            <ul class="list-group list-group-flush" id="id_options">
                {% if not instance %}
                {% for i in '1234'|make_list %}
                <li class="list-group-item" style="padding:2px">
                    <label name="labels" class="d-flex align-items-center border-secondary" style="padding:12px;margin:0;">
                        <input type="radio" class="btn-lg" name="option_correct" value="option_{{ i }}" onchange="swap_class(this);" required>
                        <input type="text" name="option_{{ i }}" class="form-control" maxlength="100" style="margin-left:10px;" required>
                    </label>
                </li>
                {% endfor %}
                {% else %}
                {% for opt in instance.get_choices %}
                <li class="list-group-item" style="padding:2px">
                    <label name="labels" class="d-flex align-items-center border-secondary {% if opt.is_correct %}list-group-item-success{% endif %}" style="padding:12px;margin:0;">
                        <input type="radio" class="btn-lg" name="option_correct"
                               value="op_{{ opt.id }}" onchange="swap_class(this);" {% if opt.is_correct %}checked{% endif %} required>
                        <input type="text" name="op_{{ opt.id }}" class="form-control" value="{{ opt.option }}" maxlength="100" style="margin-left:10px;" required>
                    </label>
                </li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
        </div>
        <button class="btn btn-success btn-lg"
                id="btn_start"
                type="submit">{% if not instance %}Save and Add another{% else %}Save{% endif %}
        </button>
    </form>

</div>
{% endblock %}


{% block js_script %}
    <script type="text/javascript" src="{% static 'addquestion.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
{% endblock %}