{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Dashboard</title>
{% endblock %}

{% block upper %}Dashboard{% endblock %}


{% block dipper %}
<h3 class="card-header">Dashboard</h3>
<div class="card-body">

    {% if request.user.is_superuser %}
    <p align="left">
        <a href="{% url 'create_paper' %}">Create New Exam..</a>
    </p>
    {% else %}
    <form method="post">
        {% csrf_token %}
        {% endif %}
        <hr/>
        <div class="card-title">
            {% if request.user.is_superuser %}
            <h4>Edit Exams</h4>
            {% else %}
            <h4>Select the Quiz</h4>
            {% endif %}
        </div>
        <div class="card border-dark shadow-sm">
            <ul class="list-group list-group-flush">
                {% for a_exam in exam_set %}
                <li class="list-group-item" style="padding:2px">
                    <label name="labels" class="d-flex align-items-center border-secondary" style="padding:12px;margin:0;">
                        {% if not request.user.is_superuser and not a_exam in check_exam_set.keys %}
                        <input type="radio" class="btn-lg" name="exam" value="{{ a_exam.id }}"
                               onchange="swap_class(this);" required>
                        {% endif %}
                        <span class="{% if a_exam in check_exam_set.keys %}text-secondary{% endif %}" style="margin:auto;">
                            {{ a_exam }} {% if a_exam in check_exam_set.keys %}<span class="text-success">   (Completed)</span>{% endif %}</span>
                        <span style="margin-right:100;">
                            <a href="{% url 'leaderboard' a_exam.id %}">leaderboard </a>
                            {% if request.user.is_superuser %}|
                            <div class="btn-group">
                                <button class="bg-transparent btn-outline-primary dropdown-toggle text-primary" id="dropdownMenuButton{{ forloop.counter }}" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                                    other options</button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ forloop.counter }}">
                                        <a class="dropdown-item" href="{% url 'create_paper' a_exam.id %}"> edit </a>
                                        <a class="dropdown-item" href="{% url 'add_question' a_exam.id %}"> add Questions </a>
                                        <a class="dropdown-item" href="{% url 'view_paper' a_exam.id %}"> view Questions </a>
                                    </div>
                            </div>
                            {% endif %}
                        </span>
                    </label>
                </li>
                {% endfor %}
            </ul>
        </div>
        <hr/>
        {% if not request.user.is_superuser %}
         {% if exam_set|length == check_exam_set|length %}
            <h2 class="text-success">Quiz Completed</h2>
         {% else %}
            <button class="btn btn-success btn-lg shadow-sm"
                    id="btn_start"
                    type="submit">Start
            </button>
         {% endif %}
        {% else %}
        </form>
        {% endif %}
</div>
{% endblock %}


{% block js_script %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="{% static 'dboard_form.js' %}"></script>
{% endblock %}
